// COMMON STYLES
html, body {
	height:100%;
	min-height:100%;
}

a {
	text-decoration: none;
	cursor:pointer;
	color:$text-clr;
}

a.anchor{
	position: absolute;
	margin-top:-5em;
}

button:focus {outline:0;}

strong {font-weight:bold}

//b-call
.b-call{
	position:fixed;
	display:none;
	bottom:1.428571em;
	width:100%;
	text-align:center;
	@media (max-width: $bp760) {
		display:block;
	}
}
.b-call__icon{
	display:inline-block;
	max-width:4.285714em;
	height:auto;
	animation-name: spin;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite; 
}


/* Up-down button */
#updown, 
#updown-container{
	position: fixed;
	top: 0px;
	height:100%;
	z-index:100;
	font-family:Helvetica,Arial,sans-serif;
}
#updown-container {
	width:2.25em;
	padding-top: 0.5em;
	opacity:0;
	color:white;
	text-align:center;
}
#updown.up, 
#updown.down {
	cursor:pointer;
}
#updown.up #updown-container::before  {
	content:'\2191';
	font-size:1.75em;
	
}
#updown.up #updown-container, #updown.down #updown-container  {
	background:rgba(0,0,0,0.5);
}
#updown.down #updown-container::before {
	content:'\2193';
	font-size:1.75em;
}
#updown:hover #updown-container{
	opacity:1;
}
@media (max-width: $cnt) {
	#updown {
		width:1.75em;
	};
}
@media (max-width: $cnt-xs) {
	#updown,
	#updown-container {
		display:none;
	}
}