// COMMON STYLES
html, body {
	height:100%;
	min-height:100%;
}

a {
	text-decoration: none;
	cursor:pointer;
	color:$text-clr;
}

a.anchor{
	position: absolute;
	margin-top:-8em;
}

button:focus {outline:0;}

strong {font-weight:bold}

//b-call
.b-call{
	position:fixed;
	display:none;
	bottom:1.428571em;
	width:100%;
	text-align:center;
	@media (max-width: $bp760) {
		display:block;
	}
}
.b-call__icon{
	display:inline-block;
	max-width:4.285714em;
	height:auto;
	animation-name: spin;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite; 
}