// SUSY GRID
@import "susy";

$susy: (
  columns: 12,
  gutters: 30px/100px,
  column-width: 100px,
  gutter-position: inside-static,
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background
  )
);

@include border-box-sizing;

.wrap {
  width:100%;
  max-width:$cnt;
  margin:0 auto;
  padding-left:$base-d*6em;
  padding-right:$base-d*6em;
  @media (max-width: $bp1440) {
    padding-left:$base-d*3em;
    padding-right:$base-d*3em;
  }
  @media (max-width: $bp400) {
    padding-left:$base-d*2.4em;
    padding-right:$base-d*2.4em;
  }
}

.container{
  @include container(); 
  width:100%;
  max-width:$cnt;
  padding-left:$base-d*3em;
  padding-right:$base-d*3em;
  @media (max-width: $bp760) {
    padding-left:$base-d*1em;
    padding-right:$base-d*1em;
  }
    
}

.container-sm{
  max-width:$cnt-sm;
}
.container-xs{
  max-width:$cnt-xs;
}



.test2 {
  height:500px;
}