// MAIN STYLES

body.modal_open {
	overflow: hidden;
}

// Links
// ==================
a {
	
}
a:hover{
	
}


//HEADER
.main-logo{
	width:15%;
	top:0;
	max-width:$base-d*48em;
	position:fixed;
	box-shadow: 0 0 $base-d*1em 0 $black-60;
	border-radius:0 0 $base-d*2em $base-d*2em;
	@media (max-width: $bp1440) {
		width:15%;
	}
	@media (max-width: $bp1000) {
		width:23%;
	}
	@media (max-width: $bp840) {
		width:14%;
	}
	@media (max-width: $bp760) {
		display:none;
	}
}
.main-logo-top{
	background:$accent-90;
	padding:$base-d*3em $base-d*3em $base-d*2em $base-d*3em;
	@media (max-width: $bp1440) {
		padding-left:$base-d*1em;
		padding-right:$base-d*1em;
	}
	@media (max-width: $bp840) {
		padding-top:$base-d*2em;
		padding-bottom:$base-d*1em;
	}
}
.main-logo__image{
	max-width:100%;
	padding:0 $base-d*2em;
	@media (max-width: $bp840) {
		padding:0 $base-d*1em;
	}
}
.main-logo__title {
	visibility:visible;
	height:auto;
	text-align:center;
	color:$bg-clr;
	& p{
		@include adjust-font-size-to($sm,3);
	}
	@media (max-width: $bp840) {
		display:none;
	}
}
.main-logo__title_hide{
	visibility:hidden;
	opacity:0;
	height:0;
}
.title__hiding{
	@media (max-width: $bp1260) {
		display:none;
	}
	@media (max-width: $bp1000) {
		display:inline;
	}
}

.main-logo__phone{
	text-align:center;
	font-weight:bold;
	color:$bg-clr;
	background:$accent;
	border-radius:0 0 $base-d*2em $base-d*2em;
	padding:$base-d*1.2em $base-d*2em;
	&:hover{
		background:$accent-50;
	}
	& a{
		color:$bg-clr;
	}
	& p{
		vertical-align: top;
		display:inline-block;
		@include adjust-font-size-to($h3);
		@media (max-width: $bp840) {
			@include adjust-font-size-to($h4);
		}
	}
	@media (max-width: $bp840) {
		padding:$base-d*0.6em $base-d*1em;
	}

}
.main-logo__phone-icon{
	background-image:url('../img/phone.svg');
	background-size:contain;
	width:$base-d*4.4em;
	height:$base-d*4.4em;
	display:inline-block;
}
.header{
	padding-top:$base-d*2em;
}
.header-line-top{
	background:$black-10;
	border-top:$base-d*0.2em solid $black-15;
	border-bottom:$base-d*0.2em solid $black-15;
	@media (max-width: $bp760) {
		display:none;
	}
}
.nav-main-list{
	padding:$base-d*1em 0;
	@include push(2);
	@include span(8);
	@media (max-width: $bp1000) {
		@include push(3);
		@include span(7);
	}
	@media (max-width: $bp840) {
		@include push(2);
		@include span(7);
	}
}
.nav-main-list__item{
	display:inline-block;
	padding:$base-d*1em $base-d*6em $base-d*1em 0;
	@media (max-width: $bp1000) {
		padding-right:$base-d*3em;
	}
	& a{
		color:$black-75;
		@include adjust-font-size-to($h4);
		@media (max-width: $bp940) {
			@include adjust-font-size-to(1em);
		}
	}
	& a:hover{
		color:$accent;
		//border-bottom:$base-d*0.2em solid $accent-50;
	}
}
.nav-main-list__item_current{
	& a{
		color:$accent;
	}
}
.soc-links{
	@include span(2);
	text-align:right;
	@media (max-width: $bp840) {
		@include span(3);
	}
}
.soc-links__item{
	display:inline-block;
	padding:$base-d*1em 0 0 $base-d*1em;
}
.soc-link{
	width:$base-d*6.4em;
	height:$base-d*6.4em;
	background-size:contain;
	
	&:hover{
		border-radius:$base-d*1.2em;
		box-shadow: 0 0 $base-d*1.4em 0 $black-35;
	}

	@media (max-width: $bp940) {
		width:$base-d*5.4em;
		height:$base-d*5.4em;
	}
}
.soc-link_instagram {
	background-image:url('../img/soc-instagram.png');
	&:hover{
		background-image:url('../img/soc-instagram_active.png');
	}
}
.soc-link_facebook {
	background-image:url('../img/soc-facebook.png');
	&:hover{
		background-image:url('../img/soc-facebook_active.png');
	}
}
.soc-link_vk {
	background-image:url('../img/soc-vk.png');
	&:hover{
		background-image:url('../img/soc-vk_active.png');
	}
}


.header-line-bottom{
	position:fixed;
	background-color:$bg-clr;
	width:100%;
	border-bottom:$base-d*0.2em solid $black-15;
	@media (max-width: $bp760) {
		position:fixed;
		top:0;
		box-shadow: 0 0 $base-d*2em $black-35;
		border:none;
	}
}
.nav-cat{
	@include push(2);
	@include span(8);
	padding-top:$base-d*1em;
	padding-bottom:$base-d*0.8em;
	@media (max-width: $bp1200) {
		@include span(7);
	}
	@media (max-width: $bp1000) {
		@include span(6);
		@include push(3);
	}
	@media (max-width: $bp840) {
		@include push(2);
		@include span(7);
	}
	@media (max-width: $bp760) {
		visibility: hidden;
    	opacity: 0;
    	max-height: 0;
		position:fixed;
		width:100vw;
		margin:0;
		margin-top:$base-d*10em;
		background-color:$bg-clr;
		overflow:auto;
		box-shadow: 0 $base-d*1em $base-d*1em $black-15;
		padding:$base-d*2em $base-d*3em;
	}
}
.nav-cat_open{
	visibility: visible;
    opacity: 1;
    max-height: 70vh;
}
.nav-cat-list__item{
	display:inline-block;
	padding:$base-d*1em $base-d*4em $base-d*1em 0;
	@media (max-width: $bp940) {
			padding-right:$base-d*3em;
		}
	& a{
		font-family:Appetite;
		color:$black-90;
		@include adjust-font-size-to($h4);
		@media (max-width: $bp940) {
			@include adjust-font-size-to($h5);
		}
	}
	& a:hover{
		color:$accent;
		//border-bottom:$base-d*0.4em solid $accent-50;
	}
}
.nav-cat-list__item_current{
	& a{
		color:$accent;
	}
}
.nav-main-mobile, .nav-mobile__paragraph, .nav-mobile-heading, .nav-mobile{
	display:none;
	@media (max-width: $bp760) {
		display:block;
	}
}
.nav-mobile__item, .nav-mobile-heading{
	@media (max-width: $bp760) {
		display:block;
		padding:$base-d*1em 0;
	}
	& a{
		@include adjust-font-size-to($h4);
	}
}
.nav-mobile-heading{
	padding-top:$base-d*1em;
}
.nav-mobile__paragraph{
	padding-top:$base-d*2em;
}
.header-cart{
	position:relative;
	@include span(2);
	text-align:right;
	padding-top:$base-d*1.2em;
	padding-bottom:$base-d*1.2em;
	@media (max-width: $bp1200) {
		@include span(3);
	}
	@media (max-width: $bp760) {
		display:inline-block;
		float:right;
		margin-bottom:-$base-d*1.2em;
		padding:$base-d*1.5em $base-d*3em $base-d*1.5em $base-d*2em;
		width:auto;
	}
}
.header-cart__sum{
	display:inline-block;
	padding-right:$base-d*1em;
	vertical-align: middle;
	@media (max-width: $bp760) {
		padding-top:$base-d*1.6em;
		vertical-align: top;
	}
	@media (max-width: $bp340) {
		display:none;
	}
}
.header-cart__button{
	min-height:$base-d*6em;
	background-image:url('../img/cart.png');
	background-repeat:no-repeat;
	background-size: $base-d*4em $base-d*3.6em;
    background-position: $base-d*1.4em $base-d*1em;
	display:inline-block;
	cursor:default;
	border-radius:$base-d*1em;
	border:$base-d*0.2em solid $accent-50;
	padding:$base-d*1em $base-d*2em $base-d*1em $base-d*6em;
	&.header-cart__button_isActive { 
		background-color:$accent;
		border-color:$accent;
		background-image:url('../img/cart_white.png');
		@media (max-width: $bp760) {
			background-image:url('../img/cart-remove.png');
		}
	}
	&.header-cart__button_isActive p, &:hover p{
		color:$bg-clr;
	}
	@media (max-width: $bp760) {
		padding-left:$base-d*6em; 
		min-height:$base-d*7em;
		background-size: 65%;
    	background-position: center;
	}
}
.header-cart__button-active{
	display:none;
	top: 0;
    left: 0;
	position: absolute;
    width: 100%;
    height: 100%;
}
.header-cart__button-active_isActive{
	display:block;
}

.header-cart__title{
	& p{
		color:$accent;
	}
	@media (max-width: $bp760) {
		display:none;
	}
}
.header-cart-button__counter{
	position: absolute;
	margin-top:-$base-d*6em;
    display: inline-block;
    //visibility: hidden;
    background: $red-light;
    border-radius: 100%;
    width: $base-d*3em;
    height: $base-d*3em;
    //margin-top: -.75em;
    text-align: center;
    z-index: 100;   
    
	padding-top:$base-d*1.2em;
	width: $base-d*3.8em;
    height: $base-d*3.8em;
    
    & p{
		color:$bg-clr;
		@include adjust-font-size-to($sm,2);
	}
	@media (max-width: $bp760) {
		margin-top:-$base-d*2em;
	}
}

.header-mobile__menu-button{
	padding:$base-d*1.2em $base-d*2em 0 $base-d*2em;
	display:none;
	@media (max-width: $bp760) {
		display:inline-block;
	}
}
.header-mobile__logo{
	pointer-events: none;
	display:none;
	padding-top:$base-d*2em;
	position:absolute;
	width:98%;
	top: 0;
    text-align: center;
	& img{
		margin-right:$base-d*1em;
		height:$base-d*5em;
		width:auto;
	}
	@media (max-width: $bp760) {
		display:block;
	}
}

.m-cart-wrap{
	&:hover{
		visibility:visible;
		opacity:1;
	}
	opacity:1;
	position: absolute;
	width:$base-d*140em;
	padding-right:$base-d*3em;
	margin-top:$base-d*1em;
	right:0;
	@media (max-width: $bp1540) {
		min-width:$base-d*115em;
		width:50%;
		position:fixed;
	}
	@media (max-width: $bp760) {
		min-width:0;
    	padding-right:$base-d*3em;
    	padding-left:$base-d*3em;
    	width:100%;
    	position:fixed;
    }
    @media (max-width: $bp400) {
    	padding-right:$base-d*2em;
    	padding-left:$base-d*2em;
    }
}
.m-cart-wrap_isHidden{
	visibility:hidden;
	opacity:0;
	transition-delay: 0.8s !important;
	@media (max-width: $bp760) {
		transition-delay:0.2s !important;
	}
}
.m-cart{
	text-align:left;
	position:relative;
	z-index:100;
	box-shadow: 0 0 $base-d*2.5em $black-35;
    border-radius: $base-d*0.6em;
    background: $bg-clr;
    padding: $base-d*2em 0;
    &::before{
    	width: $base-d*3em;
		content: "";
    	display: block;
    	position: absolute;
    	margin-top: -$base-d*5em;
    	margin-right: $base-d*8em;
    	right: 0;
    	
    	border-left: $base-d*3em solid transparent;
    	border-right: $base-d*3em solid transparent;
    	border-bottom: $base-d*3em solid $bg-clr;
    	@media (max-width: $bp760) {
    		margin-right: $base-d*2.2em;
    	}
	}
}
.m-cart__heading{
	padding:$base-d*1em $base-d*3em $base-d*1em $base-d*3em ;
	& p{
		color:$black-90;
		@include adjust-font-size-to($h4);
	}
}
.m-cart__empty{
	display:none;
	padding:0 $base-d*3em;
}
.m-cart-items{
	border-bottom:$base-d*0.2em solid $black-15;
	margin-bottom:$base-d*2em;
	overflow:auto;
	max-height:40vh;
	@media (max-width: $bp540) {
		margin-bottom:$base-d*0.6em;
	}
}
.m-cart-item{
	cursor:default;
	padding:0 $base-d*3em;
	&:hover{
		background-color: $accent-25; 
	}
	&:hover .btn-remove{
		background-color:$red-light;
	}
	& .btn-remove{
		@media (max-width: $bp540) {
			background-color:$red-light;
		}
	}
	&:hover .m-cart-item-btn .btn{
		opacity:1;
	}
	&:after{
		content: " ";
    	display: block;
    	clear: both;
	}
}

.m-cart-item__title{
	padding:$base-d*2em $base-d*3em $base-d*2em 0;
	float:left;
	width:57%;
	@media (max-width: $bp540) {
		padding-top:$base-d*2em;
		border-top:$base-d*0.2em solid $black-10;
		float:none;
		width:100%;
		padding-bottom:0;
	}
}
.m-cart-item:first-child .m-cart-item__title{
	//background:black;
	border:none;
}
.m-cart-item-btn{
	padding:$base-d*1.4em 0;
	float:left;
	width:22%;
	& .btn{
		opacity:0;
		@media (max-width: $bp1000) {
			opacity:1;
		}
	}
	@media (max-width: $bp540) {
		width:$base-d*22em;
		padding-bottom:$base-d*2.4em;
	}
}
.m-cart-item__price{
	padding:$base-d*2em $base-d*3em $base-d*2em 0;
	text-align:right;
	float:left;
	width:14%;
	@media (max-width: $bp540) {
		width:$base-d*15em;
		text-align:left;
		padding-left:$base-d*3em;
	}
}
.m-cart-item-remove{
	padding:$base-d*2em 0;
	padding-right:$base-d*1em;
	text-align:right;
	float:left;
	width:7%;
	@media (max-width: $bp540) {
		width:20%;
		text-align:left;
	}
}
.m-cart-total{
	padding:$base-d*1em $base-d*3em;
}
.m-cart-total__sum{
	float:left;
	color:$black-90;
	& p{
		@include adjust-font-size-to($h4);
	}
	@media (max-width: $bp540) {
		float:none;
		padding-bottom:$base-d*1em;
	}
}
.m-cart-total__button{
	float:right;
	@media (max-width: $bp540) {
		float:none;
	}
}
.m-cart-total::after{
	content: " ";
    display: block;
    clear: both;
}

.promo{
	margin-top:$base-d*8.8em;
	width:100%;
	& img{
		width:100%;
		height:auto;
	}
	@media (max-width: $bp760) {
		display:none;
	}
}
.content {
	@media (max-width: $bp760) {
		margin-top:$base-d*8em;
	}
}
.heading{
	padding:$base-d*2em 0 $base-d*4em 0;
	@include span(12);
	@media (max-width: $bp680) {
		padding-bottom:$base-d*2em;
	}
}
.heading__title{
	vertical-align:middle;
	display:inline-block;
	padding-right:$base-d*5em;
	margin-bottom:$base-d*1em;
	& h2{
		@include adjust-font-size-to($h1);
		
		font-weight:bold;
		color:$black-90;
	}
	@media (max-width: $bp680) {
		& h2{ @include adjust-font-size-to($h2); }
		margin-bottom:0;
	}
}
.components{
	vertical-align:middle;
	display:inline-block;
	margin-top:$base-d*0.6em;
}

.components__item{
	cursor:pointer;
	display:inline-block;
	padding:$base-d*1em $base-d*3em;
	border:$base-d*0.2em solid $accent-50;
	border-radius: $base-d*1em;
	margin-bottom:$base-d*1em;
	margin-right:$base-d*1em;

	&.components__item_isActive{
		background-color:$accent-90;
		border-color:$accent-90;
		color:white;
	}
	&:hover{
		background-color:$accent;
		border-color:$accent;
		color:white;
	}
}

.subcat{
	vertical-align:middle;
	display:inline-block;
	margin-top:$base-d*1em;
	@media (max-width: $bp680) {
		margin-top:$base-d*1.4em;
	}
}

.subcat__item{
	display:inline-block;
	padding:$base-d*1em $base-d*5em $base-d*1em 0;
	margin-bottom:$base-d*1em;
	margin-right:$base-d*1em;

	& a{
		@include adjust-font-size-to($h4);
		border-bottom:$base-d*0.2em solid $black-35;
		&:hover{
			color:$accent;
			border-color:$accent-25;
			border-style:solid;
		}
	}

	&.subcat__item_isActive a{
		color:$accent;
		border:none;
	}

	@media (max-width: $bp680) {
		& a{ @include adjust-font-size-to($h5); }
	}
	
}

.product-wrap {
  @include span(2);
  @media (max-width: $bp1540) {
    @include span(2.4);
  }
  @media (max-width: $bp1260) {
    @include span(3);
  }
  @media (max-width: $bp1000) {
    @include span(4);
  }
  @media (max-width: $bp680) {
    @include span(6);
  }
  @media (max-width: $bp540) {
    @include span(12);
  }
  margin-bottom:$base-d*6em;
}

.product{
  min-width:$base-d*44em;
  max-width:$base-d*60em;
  width:100%;
  
  margin:0 auto;
  @media (max-width: $bp540) {
    margin-left:0;
  }

  box-shadow: 0 0 $base-d*2em 0 $black-15;

}

.product__image{
	width:100%;
	padding-bottom:62.5%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom center;
	margin-bottom:$base-d*2em;
	
}
.product-info{
	min-height:$base-d*25em;
	padding:0 $base-d*3em;
	@media (max-width: $bp540) {
    	min-height:0;
  	}
}
.product-info__title{
	margin-bottom:$base-d*2em;
	& h3{
		font-family:Appetite;
		color:$accent;
		@include adjust-font-size-to($h2,5);
	}
}
.product-info__extra{
	padding-top:$base-d*2em;
	color:$black-60;
}
.product-types{
	padding:0 $base-d*3em;
}
.product-type{
	@media (max-width: $bp680) {
    	margin-top:$base-d*1em;
  	}
}
.product_type__label{
	cursor:pointer;
	padding-left:$base-d*1em;
	display:inline-block;
	vertical-align:middle;
	color:$black-75;
}
.product_type__radio{
	cursor:pointer;
	padding-top:$base-d*1em;
	display:inline-block;
	vertical-align:middle;
	&:checked+label{
		color:$text-clr;
	}
}
.product-footer{
	padding:$base-d*3em;
	&:after{
		content: " ";
    	display: block;
    	clear: both;
	}
}
.product__price{
	padding-top:$base-d*0.4em;
	float:left;
	& span{
		color:$accent-90;
		@include adjust-font-size-to($h3);
	}
}
.product-buttons{
	float:right;
}
.product-buttons__count{
	display:none;
}


.delivery-bottom{
	margin-top:$base-d*3em;
	margin-bottom:$base-d*6em;
	& .container-sm{
		@media (max-width: $bp1000) {
   			max-width:$base-d*120em;
  		}
	}
}
.delivery-bottom__title{
	text-align:center;
	margin-bottom:$base-d*6em;
	& p{
		@include adjust-font-size-to($h1);
		font-weight:bold;
		color:$black-90;
	}
	@media (max-width: $bp680) {
		& p{ @include adjust-font-size-to($h2); }
	}
}

.delivery-bottom-col-wrap{
	text-align:center;
	@include span(3);
	@media (max-width: $bp1000) {
   		@include span(6);
  	}
  	@media (max-width: $bp600) {
   		@include span(12);
  	}
}
.delivery-bottom-col{
	margin:0 auto;
	max-width:$base-d*55em;
	margin-bottom:$base-d*6em;
}
.delivery-bottom-col__title{
	padding:$base-d*2em 0 $base-d*1em 0;
	& p{
		@include adjust-font-size-to($h2);
		color:$black-90;
	}
	@media (max-width: $bp680) {
		& p{ @include adjust-font-size-to($h3); }
	}
	
}

.delivery-bottom-col__text{
	& a{
		color:$accent;
		border-bottom:$base-d*0.2em solid $accent-25;
		&:hover{
			border-color:$accent-50;
			color:$accent;
		}
	}
}

.delivery-bottom__button{
	text-align:center;
	padding:$base-d*3em;
}

.footer{
	background:$accent-90;
	color:$bg-clr;
}
.footer-company{
	@include span(4);
	@media (max-width: $bp1100) {
   		@include span(5);
  	}
  	@media (max-width: $bp940) {
   		@include span(6);
  	}
  	@media (max-width: $bp680) {
   		@include span(12);
  	}
	padding-top:$base-d*2em;
	padding-bottom:$base-d*2em;
}
.footer-company__title{
	& p{
		@include adjust-font-size-to($h4);
		@media (max-width: $bp940) {
   			@include adjust-font-size-to($h5);
  		}
	}
}
.footer-phone{
	padding-top:$base-d*2em;
	@include span(4);
	@media (max-width: $bp1100) {
   		@include span(2);
  	}
  	@media (max-width: $bp940) {
   		display:none;
  	}
	& p{
		text-align:center;
		@include adjust-font-size-to($h1);
		@media (max-width: $bp940) {
   			@include adjust-font-size-to($h2);
  		}
		font-weight:bold;
		& a{
			color:white;
		}
	}
}
.footer-copy{
	text-align:right;
	padding-top:$base-d*1.6em;
	@include span(4);
	@media (max-width: $bp1100) {
   		@include span(5);
  	}
  	@media (max-width: $bp940) {
   		@include span(6);
  	}
  	@media (max-width: $bp680) {
   		display:none;
  	}
	& a{
		color:$bg-clr;
	}
}
.footer-copy__title{
	& p{
		text-align:right;
		@include adjust-font-size-to($sm);
	}
}
.footer-copy__image{
	display:inline-block;
	& img{
		width:$base-d*28em;
	}
}

.product-promo{
	position:absolute;
	margin-top:$base-d*2em;
}

.product-promo__item_promo1{
	background-color:$promo-1;
	&::before {
		border-color:$promo-1;
	}
	&:after {
		border-color:$promo-1;
	}
}
.product-promo__item_promo2{
	background-color:$promo-2;
	&::before {
		border-color:$promo-2;
	}
	&:after {
		border-color:$promo-2;
	}
}
.product-promo__item_promo3{
	background-color:$promo-3;
	&::before {
		border-color:$promo-3;
	}
	&:after {
		border-color:$promo-3;
	}
}
.product-promo__item_promo4{
	background-color:$promo-4;
	&::before {
		border-color:$promo-4;
	}
	&:after {
		border-color:$promo-4;
	}
}
.product-promo__item_promo5{
	background-color:$promo-5;
	&::before {
		border-color:$promo-5;
	}
	&:after {
		border-color:$promo-5;
	}
}
.product-promo__item_promo6{
	background-color:$promo-6;
	&::before {
		border-color:$promo-6;
	}
	&:after {
		border-color:$promo-6;
	}
}
.product-promo__item{
	color:white;
	padding:$base-d*0.2em 0 $base-d*0.2em $base-d*3em;
	margin-bottom:$base-d*1em;
	margin-left: -$base-d*1.2em;
	& span{
		@include adjust-font-size-to($sm);
	}
	&::before {
		content:'';
    	position:absolute;
    	left:0;
    	margin-top: -$base-d*1.2em;
    	margin-left: -$base-d*1.2em;
    	
    	border-width:$base-d*0.6em;
    	border-style:solid;
    	
    	border-top-color:transparent;
    	border-left-color: transparent;
    	
	}
	&::after {
		content: "";
		position: absolute;
		left: 100%;
		width: 0;
		height: 0;
		margin-top:-$base-d*0.2em;

		border-width:$base-d*2.2em;
		border-style:solid;
		border-right-color: transparent;
	}
}