// MAIN TYPOGRAPHY
@import "compass/typography/vertical_rhythm";
$base-font-size: 14px;
$base-line-height: 5px;
$base:5;
$base-d:$base-line-height/$base-font-size;


// Base styles
// =================
@include establish-baseline;

html {
	@include adjust-leading-to(4);
}
body{
	font-family: 'Helvetica Heue', Arial, sans-serif;
	color:$text-clr;
}

// EXTRA FONTS
@font-face {
	font-family: 'Appetite';
	src: url('../fonts/hinted-subset-Appetite.eot');
	src: url('../fonts/hinted-subset-Appetite.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-subset-Appetite.woff2') format('woff2'), url('../fonts/hinted-subset-Appetite.woff') format('woff'), url('../fonts/hinted-subset-Appetite.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}