// VARIABLES
$cnt: 1660px;

//font-sizes
$base-font-size: 14px;
$h1:$base-font-size*2.285714; //32px
$h2:$base-font-size*1.571428; //22px
$h3:$base-font-size*1.428571; //20px
$h4:$base-font-size*1.285714; //18px
$sm:$base-font-size*0.785714; //32px

//colors
$text-clr:#000;
$bg-clr:#FFF;

$accent:#f15f22;
$accent-90:#f46c22;
$accent-50:#f68c53;
$accent-25:#fcddcc;

$black-90:#202020;
$black-75:#404040;
$black-60:#666666;
$black-35:#aaaaaa;
$black-15:#dddddd;
$black-10:#eeeeee;

$red-dark:#cf0000;
$red-light:#fe0000;


$promo-1:#f15f22;
$promo-2:#b90000;
$promo-3:#7d349d;
$promo-4:#0167b1;
$promo-5:#007d21;
$promo-6:#009c41;