//font-sizes
$font-size: 14;
$h1:$font-size*2.285714px; //32px
$h2:$font-size*1.571428px; //22px
$h3:$font-size*1.428571px; //20px
$h4:$font-size*1.285714px; //18px
$h5:$font-size*1.142857px; //16px
$sm:$font-size*0.857142px; //11px
$sm2:$font-size*0.666666px; //11px

//breakpoints
$cnt: 1660em/$font-size;
$def-font-size: 16;
$bp1540:1540em/$def-font-size;
$bp1440:1440em/$def-font-size;
$bp1260:1260em/$def-font-size;
$bp1200:1200em/$def-font-size;
$bp1000:1000em/$def-font-size;
$bp940:940em/$def-font-size;
$bp840:840em/$def-font-size;
$bp760:764em/$def-font-size;
$bp540:540em/$def-font-size;
$bp400:400em/$def-font-size;
$bp340:340em/$def-font-size;

//colors
$text-clr:#000;
$bg-clr:#FFF;

$accent:#f15f22;
$accent-90:#f46c22;
$accent-50:#f68c53;
$accent-25:#fcddcc;

$black-90:#202020;
$black-75:#404040;
$black-60:#666666;
$black-35:#aaaaaa;
$black-15:#dddddd;
$black-10:#eeeeee;

$red-dark:#cf0000;
$red-light:#fe0000;


$promo-1:#f15f22;
$promo-2:#b90000;
$promo-3:#7d349d;
$promo-4:#0167b1;
$promo-5:#007d21;
$promo-6:#009c41;